$colors: (
  primary: (
    color: rgb(113, 93, 235),
    contrast: white,
  ),
  secondary: (
    color: rgb(186, 161, 65),
    contrast: white,
  ),
  link: (
    color: rgb(84, 145, 220),
    contrast: white,
  ),
  danger: (
    color: rgb(194, 5, 0),
    contrast: white,
  ),
  light: (
    color: rgb(251, 251, 252),
    contrast: black,
  ),
  medium: (
    color: rgb(177, 176, 176),
    contrast: white,
  ),
  dark: (
    color: rgb(28, 28, 28),
    contrast: white,
  ),
  white: (
    color: rgb(255, 255, 255),
    contrast: black,
  ),
);

@each $name, $color in $colors {
  .text-#{$name} {
    color: map-get($color, color) !important;
  }

  .bg-#{$name} {
    background-color: map-get($color, color) !important;
  }

  .bg-contrast-#{$name} {
    background-color: map-get($color, color) !important;
    color: map-get($color, contrast) !important;
  }

  .border-#{$name} {
    border-color: map-get($color, color) !important;
  }
}
