form-field {
  display: block;
  text-align: left;
  margin-bottom: 25px;

  .label {
    height: 12px;
    @extend .text-dark;
    @extend .paragraph;
    margin: 0 0 15px 5px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 11px 12px;
    border-radius: 8px;
    max-height: 44px;
    @extend .bg-white;
    border-width: 1px;
    border-style: solid;
    @extend .border-medium;

    .content {
      flex: 1;
      margin: 0 10px;
      overflow: hidden;

      input {
        border: none;
        outline: none;
        width: 100%;
        padding: 0;
        @extend .paragraph;
      }
    }
  }

  &.is-valid {
    .label,
    .wrapper {
      @extend .border-primary;
    }
  }

  &.is-invalid {
    .label,
    .wrapper {
      @extend .border-danger;
      @extend .text-danger;
    }
  }

  .error-content,
  .hint-content {
    margin-left: 15px;
    p,
    span {
      margin: 2px 0;
      @extend .caption;
    }
  }
  .hint-content {
    text-align: right;
  }
}
