<div class="wrapper">
  <div class="container">
    <img src="assets/logo.png" alt="logo" />

    <div class="page-container">

      <!-- header -->
      <div class="header">
        <div class="h4 mb-15">Welcome</div>
        <div class="paragraph-small text-medium">
          Log in to your huma MedoPad account
        </div>
      </div>

      <form #form="ngForm" class="content">

        <!-- lastname input -->
        <form-field>
          <input inputRef name="lastname" #lastNameInput="ngModel" placeholder="Email" [(ngModel)]="email" required
            email />
          <div error>
            <p *ngIf="lastNameInput?.errors?.required">this field is required</p>
            <p *ngIf="lastNameInput?.errors?.max">
              this field must have less than 50 characters
            </p>
          </div>
        </form-field>

        <button class="mb-10" custom-button fill="text" color="link" (click)="register()">Don't have a MedoPad account?
          Create one</button>

        <!-- actions -->
        <button class="btn" custom-button expand="block" shape="round" [status]="loading" (click)="continue()"
          [disabled]="form.invalid">
          Continue
        </button>
      </form>

    </div>
  </div>
</div>
