app-login,
app-register {
  display: block;
  height: 100%;
  width: 100%;
  @extend .bg-light;
  & > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;

    & > .container {
      width: 100%;
      @extend .bg-white;
      border-radius: $border-radius;
      box-shadow: $elevation;
      text-align: center;

      & > img {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        display: block;
      }

      .page-container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header" "content";
        row-gap: 30px;
        padding: 0 30px 30px;

        & > .header {
          grid-area: header;
        }

        & > .content {
          grid-area: content;
        }
      }

      @media (max-width: 600px) {
        height: 100%;
      }
    }
  }
}
