form-field {
  display: block;
  text-align: left;
  width: 100%;

  &.bootstrap {
    margin-bottom: 25px;
    .wrapper {
      border-width: 1px;
      border-style: solid;
      @extend .border-medium;
    }
  }

  &.md {
    margin-bottom: 5px;
    .wrapper {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      @extend .border-medium;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    padding: 11px 12px;
    max-height: 44px;
    @extend .bg-white;

    .content {
      flex: 1;
      margin: 0 10px;
      overflow: hidden;

      input,
      select {
        border: none;
        outline: none;
        width: 100%;
        padding: 0;
        @extend .paragraph;
      }
    }
  }

  &.is-valid {
    .label,
    .wrapper {
      @extend .border-primary;
    }
  }

  &.is-invalid {
    .label,
    .wrapper {
      @extend .border-danger;
      @extend .text-danger;
    }
  }

  .error-content,
  .hint-content {
    margin-left: 15px;
    p,
    span {
      margin: 2px 0;
      @extend .caption;
    }
  }
  .hint-content {
    text-align: right;
  }
}
