form-field {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  & > .label {
    height: 12px;
  }
  & > .wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 11px 12px;
    border-radius: 8px;
    max-height: 44px;
    background-color: var(--ion-color-white);
    &.border {
      border: 1px solid;
      border-color: var(--ion-color-white-shade);
    }

    &.no-height {
      max-height: unset;
    }
    &.fill {
      border-color: var(--ion-color-input-fill-color);
      background-color: var(--ion-color-input-fill-color);
    }
    .prefix,
    .suffix {
      margin-top: 3px;
    }
    .content {
      flex: 1;
      margin: 0 10px;
      overflow: hidden;
      ::ng-deep {
        input,
        ion-input,
        ion-select,
        ion-datetime {
          --placeholder-color: var(--ion-color-medium);
          --placeholder-opacity: 1;
          --padding-start: 0;
          --padding-end: 0;
          border: none;
          outline: none;
          input {
            padding: 0;
            @extend .paragraph;
          }
          .select-icon {
            display: none;
          }
          .datetime-text {
            color: var(--ion-color-light-shade);
          }
        }
      }
    }
  }

  &.is-valid {
    .label,
    .wrapper {
      border-color: var(--ion-color-primary);
      &.fill {
        border-color: var(--ion-color-white-shade);
      }
    }
  }
  &.is-invalid {
    .label,
    .wrapper {
      border-color: var(--ion-color-danger);
      color: var(--ion-color-danger);
    }
  }

  .error-content,
  .hint-content {
    margin-left: 15px;
    ::ng-deep {
      p,
      span {
        margin: 2px 0;
        @extend .caption;
      }
    }
  }
  .hint-content {
    text-align: right;
  }
}
